editablelabel {
    font-size: 20px;
    padding-left: 2px;
    padding-top: 2px;
    padding-bottom: 2px;
}

textview {
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 24px;
    padding-bottom: 24px;
}

